.Search input {
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  transition: background-color .3s ease;
}

.Search input:focus {
  background-color: #fff;
}

.Search button {
  background-color: #4BB543;
  color: #fff;
  padding: 10px;
  border: 1px solid #4BB543;
  border-radius: 0 4px 4px 0;
  outline: none;
  cursor: pointer;
  transition: opacity .3s ease;
}

.Search button:hover {
  opacity: .8;
}